/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

.custom-navbar{
    background:#020617;
}

.navbar-brand{
    font-size:1.8rem;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    transition:0.3s;
}

.nav-link:hover{
    color:#38bdf8 !important;
}

.hero-section{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:linear-gradient(to right,#0f172a,#1e293b);
}

.hero-section h1{
    font-size:4rem;
}

.hero-section p{
    font-size:1.3rem;
    margin-top:10px;
}

.btn-custom{
    background:#38bdf8;
    color:white;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    transition:0.3s;
}

.btn-custom:hover{
    background:#0284c7;
    transform:scale(1.05);
}

.section-title{
    font-size:2.5rem;
    font-weight:bold;
}

.profile-img{
    width:300px;
    border:5px solid #38bdf8;
}

.skills span{
    display:inline-block;
    background:#1e293b;
    padding:10px 20px;
    border-radius:20px;
    margin:10px 10px 0 0;
    transition:0.3s;
}

.skills span:hover{
    background:#38bdf8;
}

.project-section{
    background:#111827;
}

.custom-card{
    background:#1e293b;
    color:white;
    border:none;
    border-radius:20px;
    transition:0.3s;
}

.custom-card:hover{
    transform:translateY(-10px);
}

.form-control{
    background:#1e293b;
    border:none;
    color:white;
    padding:15px;
}

.form-control::placeholder{
    color:#cbd5e1;
}

.form-control:focus{
    box-shadow:none;
    border:2px solid #38bdf8;
    background:#1e293b;
    color:white;
}

footer{
    background:#020617;
}

.social-icons a{
    color:white;
    margin:0 10px;
    font-size:1.5rem;
    transition:0.3s;
}

.social-icons a:hover{
    color:#38bdf8;
}

/* Responsive */

@media(max-width:768px){

    .hero-section h1{
        font-size:2.5rem;
    }

    .hero-section p{
        font-size:1rem;
    }

    .profile-img{
        width:220px;
        margin-bottom:20px;
    }

}